page-view-text {
        .content{
                background-color:#00b8e6;
            font-size:50px;
            font-style: normal;
            text-align: justify;

            }
            
    
    

}
