<!--
  Generated template for the ViewTextPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{helper.humanReadableTime(savedText.createdAt)}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-scroll scrollX="true">
      </ion-scroll>
      <ion-card>
        
          <ion-row>
            <ion-col>
              <button ion-button icon-start clear small (click) = "startEdit()">
                <ion-icon name="create"></ion-icon>
                <div>Edit</div>
              </button>
            </ion-col>
            
        
            <ion-col>
              <button *ngIf = '!isPlaying' ion-button icon-start clear small (click) = "playText(savedText.content)">
                <ion-icon name="play"></ion-icon>
                <div>Listen</div>
              </button>
              <button *ngIf = 'isPlaying' ion-button icon-start clear small (click) = "stopTextPlay()">
                <ion-icon name="square"></ion-icon>
                <div>Stop</div>
              </button>
            </ion-col>
            <ion-col>
                <button ion-button icon-start clear small (click) = "deletedSavedText(savedText.id)">
                    <ion-icon name="trash"></ion-icon>
                    <div>Delete</div>
                </button>
              </ion-col>
          </ion-row>
        
        </ion-card>


        <ion-card>
           
            <ion-card-content>
              <span *ngIf="!editing">
              {{savedText.content}}
              </span>
              <span *ngIf="editing">
                <form #commentEditForm="ngForm" (ngSubmit)="saveEdit()" autocomplete="off">
                    <ion-textarea rows="6" placeholder="Update Comment"  name="commentEditField" id="commentEditField"  required [(ngModel)]="savedText.content" #commentField></ion-textarea>
                    <button ion-button round small color="warning" (click)="cancleEdit()"> cancel</button>
                    <button ion-button small round type="submit" color="secondary2" [disabled]="!commentEditForm.form.valid">
                           Save
                    </button>
                </form>
            </span>
            </ion-card-content>
          
        
            <ion-row>
              <ion-col>
                <button ion-button icon-start clear small (click) = "startEdit()">
                  <ion-icon name="create"></ion-icon>
                  <div>Edit</div>
                </button>
              </ion-col>
              <ion-col>
                <button *ngIf = '!isPlaying' ion-button icon-start clear small (click) = "playText(savedText.content)">
                  <ion-icon name="play"></ion-icon>
                  <div>Listen</div>
                </button>
                <button *ngIf = 'isPlaying' ion-button icon-start clear small (click) = "stopTextPlay()">
                  <ion-icon name="square"></ion-icon>
                  <div>Stop</div>
                </button>
              </ion-col>

              <ion-col>
                <button ion-button icon-start clear small (click) = "deletedSavedText(savedText.id)">
                    <ion-icon name="trash"></ion-icon>
                    <div>Delete</div>
                </button>
              </ion-col>
              
            </ion-row>
            
            </ion-card>
</ion-content>
